.modal-personalizado{
    width: 80%;
}

.Botoncerrar{
    position: absolute;
    height: 50px;
    width: 50px;
    font-size: 20px;
    right: 5px;
    top: 5px;
    z-index: 10;
    -moz-transition: all 0.5s ;
    -o-transition: all 0.5s ;
    -webkit-transition: all 0.5s ;
    transition: all 0.5s ;
    text-align: center;
}

.Botoncerrar:hover{
    background-color: #d51862;
    font-size: 19px; 
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    border-radius: 25%;
}

.modal-personalizado{
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}


.modal-body-personalizado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-Interior-Body{
    z-index: 2;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;

}

.bordePrevisualizacion{
    -webkit-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.75);
}

.videoPrevisualizacion{
    max-width: 850px;
    width: 100%;
    height: auto;
}

.btnFlechas{
    margin: 10px 10px 5px 10px;
    background-color: #4caf50;
    border: none;
    border-radius: 30%;
    padding: 15px 25px 15px 25px;
    color: white;
    position: absolute;
}

.btn-izq{
   left: 0;
}

.btn-der{
    right: 0;
}

.textoPreview{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 100%;
    font-weight: 700;
    white-space: nowrap;
    position: absolute;
    top: 20px;
    width: 70%;
}


.btnFlechas:hover {background-color: #74b476}

@media (max-width: 1146px) {

    .btn-izq{
        bottom: 0;
        left: 10px;
    }
     
    .btn-der{
        bottom: 0;
        right: 10px;
    }
    
}